%script{:type => 'text/javascript',
        :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
%script{:type => 'text/javascript',
        :src => 'http://platform.twitter.com/widgets.js'}
%script{:type => 'text/javascript', :src => '/jquery.jtwitter.js'}
%script{:type => 'text/javascript', :src => '/jquery.googli.js'}
