#footer
  .people.clearfix
    .person.kripet
      %span
        Created by
        %a{:href => 'http://twitter.com/kripet'} @kripet
      %a{:href => 'http://twitter.com/kripet'}
        %img{:src => 'http://a3.twimg.com/profile_images/291006525/Black___White_Head_normal.jpg'}
      %p
        Kristján is a programmer-type who likes to think he has a good sense
        of what the internet is for. In a <span>vain?</span> attempt to keep
        his karma positive, he works at
        %a{:href => 'http://www.causes.com/jobs'} causes.com
    .person.steve_rit
      %a{:href => 'http://twitter.com/steve_rit'}
        %img{:src => 'http://a3.twimg.com/profile_images/452556392/4798_621699776503_207706_35930867_4087695_n_normal.jpg'}
      %span
        Inspired  by
        %a{:href => 'http://twitter.com/steve_rit'} @steve_rit
      %p
        Steve had the wonderful idea to attach his tweets to photos, and the
        sense to want a tool built to help. If not for him, the internet
        would be 4% less twittilating.
