%link{:rel => :stylesheet, :type => 'text/css', :href => '/application.css'}
%script{:type => 'text/javascript',
        :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
%script{:type => 'text/javascript', :src => '/jquery.jtwitter.js'}
%script{:type => 'text/javascript', :src => '/jquery.googli.js'}
%script{:type => 'text/javascript', :src => '/application.js'}
%html
  %head
    %title Subtwitle
  %body
    #content
      %h1 Subtwitle
      %form
        %label{:for => :username} What's your Twitter handle?
        %input{:type => :text, :id => :username, :name => :username}
        %input{:type => :submit, :value => "Go"}
      #captions
        .caption
          %img
          .tweet
