%h1 Subtwitle
%form
  %label{:for => :username} What's your Twitter handle?
  %input{:type => :text, :id => :username,
         :name => :username, :value => @username}
  %input{:type => :submit, :value => "Go"}
- javascripts 'application'
#captions
  .caption
    %img
    .tweet
    %a.tweet_link{:href => 'https://twitter.com/intent/tweet'} Tweet
