- javascripts 'application'
#captions
  .caption
    %img
    .tweet
    .actions
      %a.tweet_link{:href => 'https://twitter.com/intent/tweet'} Tweet
      %a.permalink.twitter_button{:href => '/'} Copy Link
