* {
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #29C;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4em;
}

a {
  color: #29C;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #3AD;
}

h1 {
  color: #29C;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.4em;
  text-shadow: 0px 1px 1px #FFF,
               0px -1px 1px #000;
}

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4em;
  margin: 5px auto 10px;
  text-align: center;
}

#content {
  background-color: #FFF;
  margin: 0px auto;
  text-align: center;
  padding: 10px 50px 100px;
  width: 860px;
}

form {
  margin: 0px auto 50px;
}

input[type=text] {
  font-size: 20px;
  padding: 5px;
}

input[type=submit] {
  color: #FFF;
  background-color: #29C;
  border: 3px solid #07A;
  font-size: 20px;
  font-weight: bold;
  height: 37px;
  width: 37px;
}

input,
.caption {
  border-radius: 2px;
}

#captions a.more {
  background-color: #D5F6FB;
  display: block;
  margin: 15px auto;
  padding: 10px 50px;
  text-align: center;
  width: 400px;
}

.caption {
  background-color: #D5F6FB;
  display: none;
  margin: 50px auto 0px;
  padding: 40px 50px;
  width: 400px;
}

.caption img {
  height: auto;
  margin-bottom: 10px;
  padding; 100px;
  width: 400px;
}

.caption .tweet {
  background-color: #FFF;
  padding: 10px;
  text-align: left;
}

#footer {
  background-color: #D5F6FB;
  border-radius: 0px 0px 5px 5px;
  margin: 0px auto 50px;
  padding: 20px;
  width: 920px;
}

.people {
  margin: 0px auto;
  width: 685px;
}

.person {
  display: inline-block;
  line-height: 50px;
  padding: 10px 20px;
  vertical-align: top;
  width: 300px;
}
.person img {
  margin-right: 10px;
  vertical-align: middle;
}
.person div {
  color: #666;
  font-size: 12px;
  line-height: 14px;
  margin-top: 15px;
}
.person div span {
  color: #999;
}

.person.kripet {
  text-align: right;
  border-right: 1px solid #3AD;
}
.tweet_link {
  display: block;
  height: 20px;
  background: url('https://dev.twitter.com/widgets/images/tweet.png');
  background-position: center top;
  background-repeat: no-repeat;
  float: right;
  margin-top: 5px;
  text-indent: -10000px;
  width: 55px;
}
.tweet_link:hover {
  background-position: center -21px;
}
.tweet_link:active {
  background-position: center -42px;
}
