* {
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #29C;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4em;
}

h1 {
  color: #29C;
  font-size: 100px;
  font-weight: bold;
  line-height: 1.4em;
  text-shadow: 0px 1px 1px #FFF,
               0px -1px 1px #000;
}

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4em;
  margin: 5px auto 10px;
  text-align: center;
}

#content {
  background-color: #FFF;
  margin: 0px auto;
  text-align: center;
  padding: 50px 50px 100px;
  width: 860px;
}

form {
  margin: 0px auto 50px;
}

input[type=text] {
  font-size: 20px;
  padding: 5px;
}

input[type=submit] {
  color: #FFF;
  background-color: #29C;
  border: 3px solid #07A;
  font-size: 20px;
  font-weight: bold;
  height: 37px;
  width: 37px;
}

input,
.caption {
  border-radius: 2px;
}

.caption {
  background-color: #D5F6FB;
  display: none;
  margin: 50px auto 100px;
  padding: 40px 50px;
  width: 400px;
}

.caption img {
  height: auto;
  margin-bottom: 10px;
  padding; 100px;
  width: 400px;
}

.caption .tweet {
  background-color: #FFF;
  padding: 10px;
  text-align: left;
}

#footer {
  background-color: #D5F6FB;
  border-radius: 0px 0px 5px 5px;
  margin: 0px auto 50px;
  padding: 20px;
  width: 920px;
}

.people {
  margin: 0px auto;
  width: 591px;
}

.person {
  display: inline-block;
  line-height: 50px;
  padding: 10px 20px;
  width: 250px;
}
.person img {
  margin-right: 10px;
  vertical-align: middle;
}
.person a {
  color: #29C;
  font-weight: bold;
  text-decoration: none;
}

.person.kripet {
  text-align: right;
}
.person.steve_rit {
  border-left: 1px solid #29C;
}
